@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", Arial, Helvetica, sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 50px;

	.navRight ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: 12px;

		li a {
			color: black;
			text-decoration: none;
			font-weight: 500;
		}

		.navLang {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 48px;
			height: 48px;
			border: 1px solid #71919f;
			border-radius: 100px;

			a {
				color: #71919f;
			}
		}

		.navContact {
			padding: 12px 24px;
			background-color: #71919f;
			border-radius: 100px;

			a {
				color: white;
			}
		}
	}
}

.navHamburger {
	display: none;
}

.hero {
	background: linear-gradient(33.66deg, #cde6ed 1.55%, #9db9c4 43.94%, #71919f 82.01%);
	display: flex;
	justify-content: space-between;

	.heroLeft {
		padding: 32px 64px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
		gap: 48px;

		h1 {
			margin: 0;
			color: white;
			font-size: clamp(2rem, 4vw, 10rem);

			.heroBig {
				font-size: clamp(2.5rem, 4vw, 8rem);
			}
		}

		p {
			font-size: clamp(1rem, 1.5vw, 2rem);
		}
	}

	.heroRight {
		flex: 1;

		img {
			width: 100%;
		}
	}
}

.bigCard {
	position: relative;
	top: -300px;
	max-width: 1200px;
	margin: auto;
	padding: 32px;
	background-color: white;
	border-radius: 96px 96px 32px 32px;

	.cards {
		display: flex;
		gap: 32px;
		flex-wrap: wrap;
		justify-content: center;

		.card {
			background-position: center;
			background-size: cover;

			max-width: 350px;
			height: 450px;
			padding: 48px;

			border-radius: 64px 32px 32px 32px;

			h2 {
				font-size: 30px;
				color: white;
			}

			p {
				color: white;
				font-weight: 300;
				font-size: 30px;
				position: relative;
				top: 260px;
			}

			&:first-child {
				background: linear-gradient(#000000b2, #000000b2), url(img/cardOne.png) center / cover;
			}

			&:nth-child(2) {
				background: linear-gradient(#000000b2, #000000b2), url(img/cardTwo.png) center / cover;
			}

			&:last-child {
				background: linear-gradient(#000000b2, #000000b2), url(img/cardThree.png) center / cover;
				border-radius: 32px 64px 32px 32px;
			}
		}
	}

	.services {
		.servicesHeader {
			display: flex;
			align-items: center;
			gap: 32px;

			h2 {
				font-size: 28px;
				font-weight: 400;
				color: #71919f;
				margin: 32px 0;
			}

			.line {
				height: 1px;
				width: 100%;
				border-bottom: 2px solid #71919f;
			}
		}

		h3 {
			font-size: 48px;
		}
	}
}

@media screen and (max-width: 1920px) {
	.bigCard {
		top: -200px;
	}
}

@media screen and (max-width: 1200px) {
	.bigCard {
		top: 0;
	}
}

@media screen and (max-width: 980px) {
	.navRight {
		display: none;
	}

	.navHamburger {
		display: flex;
		flex-direction: column;
		gap: 8px;
		justify-content: center;

		.hamburgerBar {
			height: 3px;
			width: 32px;
			background-color: black;
		}
	}

	.hero {
		.heroRight {
			display: none;
		}

		.heroLeft {
			h1 {
				font-size: clamp(2rem, 7vw, 10rem);

				.heroBig {
					font-size: clamp(2.5rem, 7vw, 10rem);
				}
			}
		}
	}

	.bigCard {
		.services {
			.servicesHeader {
				h2 {
					font-size: 24px;
				}
			}

			h3 {
				font-size: 24px;
			}
		}
	}
}

@media screen and (max-width: 410px) {
	nav {
		padding: 24px 12px;

		.navLeft img {
			height: 30px;
		}
	}

	.hero {
		.heroLeft {
			padding: 32px;
		}
	}

	.bigCard {
		.cards {
			gap: 12px;
			
			.card {
				height: 350px;

				p {
					top: 150px;
				}
			}
		}
	}
}
