@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background: #F0F9FF;
}

main {
	max-width: 1080px;
	margin: auto;
	padding: 64px 32px;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	background: white;
}

h1, h2 {
	color: #0C4A6E;
}

h1 {
	font-size: 48px;
}

h2 {
	margin-top: 64px;
	font-size: 32px;
}

li {
	font-size: 24px;
	line-height: 1.5;
}

.code {
	padding: 20px;
	background: #0C4A6E;
	border-radius: 20px;

	code {
		color: white;
		font-size: 24px;
		font-weight: 400;
		font-family: "Fira Code", 'Courier New', Courier, monospace;
		display: block;
	}
}