@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
	box-sizing: border-box;
}

nav {
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
	height: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.navLogo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.navSquare {
	color: black;
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	font-weight: 800;
	border-radius: 10px;
}

.navList {
	display: flex;
	list-style-type: none;
	justify-content: center;
	gap: 80px;
}

.navRight {
	display: flex;
	align-items: center;
	gap: 20px;
}

.navBtn {
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px 20px;
}

.navHamburger {
	display: none;
}

@media (max-width: 830px) {
	.navList {
		display: none;
	}

	.navHamburger {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	.navHamburgerBar {
		height: 2px;
		width: 32px;
		background-color: white;
	}
}

body {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
}

main {
	display: flex;
	flex-direction: row;
	max-width: 800px;
}

.card {
	width: 260px;
	height: 400px;
	padding: 20px;
}

.cardCircle {
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #0000004d;
}

.cardImg {
	position: relative;
	left: 20px;
	top: 10px;
	height: 40px;
}

.cardName {
	font-size: 24px;
	margin: 33px 0;
}

.cardDescription {
	font-size: 12px;
	margin: 33px 0;
	height: 130px;
}

.cardOne {
	background-color: #e28525;
	border-radius: 12px 0 0 12px;
}

.cardTwo {
	background-color: #015072;
}

.cardThree {
	background-color: #078071;
	border-radius: 0 12px 12px 0;
}

.cardLink {
	text-decoration: none;
	color: black;
	padding: 12px 20px;
	border-radius: 100px;
	background-color: white;
	font-weight: 500;
}
